body{
    margin: 10px;
    padding: 10px;
}
.emailform{
    margin-top:124px;
    margin-bottom:124px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 10px;
    text-align: center;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
}