<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition advisor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <a href="/email" class="btn">REPORT A BUG</a><br><br>
   <form action="/" method="POST">
    <label>Enter the reciepe name</label><br><br>
    <input name="food" class="food_name" type="text">
    <br>
    <br>
    <button type="submit">Submit</button>
   </form>
</body>
</html>